body {
  min-height: 100vh; 
  margin: 0; 
  
  display:flex; 
  flex-direction:column; 


  grid-template-rows: auto 1fr auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.allButFooter {
  min-height: calc(100vh - 40px);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
